<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Management System</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<table>
  <thead>
  <th>ID</th>
  <th>Name</th>
  <th>Email</th>
  <th>Age</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.age}"></td>
    <td>
      <a th:href="@{/users/editUser/{id}(id=${user.id})}" class="edit-link">Edit</a>
      <a th:href="@{/users/delete/{id}(id=${user.id})}" class="delete-link">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="action-links">
  <a th:href="@{/addUser}" class="add-user-link">Add User</a>
</div>

</body>
</html>
